<div class="card">
  <div class="card-body">
      <h4 class="card-title">Gateways</h4>
      <h5 class="card-subtitle text-muted">La informacíon de tus dispositivos cerca...</h5>
      <div class="table-responsive">
        <table class="table align-middle text-nowrap">
            <thead>
                <tr>
                    <th class="text-dark font-medium fs-4">Router</th>
                    <th class="text-dark font-medium fs-4">Ubi</th>
                    <th class="text-dark font-medium fs-4">Estado</th>
                    <th class="text-dark font-medium fs-4">isPublic</th>
                    <th class="text-dark font-medium fs-4">Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor='let cl of client'>
                    <td>
                        <div class="d-flex align-items-center">
                            <img src={{cl.color}} alt="user" width="45" class="rounded-circle">
                            <div class="ms-3">
                                <h5 class="mb-0 font-medium">{{cl.name}}</h5>
                                <span class="text-muted">{{cl.email}}</span>
                            </div>
                        </div>
                    </td>
                    <td class="fs-4">{{cl.latitude}}, {{cl.longitude}}</td>
                    <td>
                        <span class="p-2 bg-{{cl.color}} rounded-circle d-inline-block ms-3"></span>
                    </td>

                    <td>
                        <span class="p-2 bg-{{cl.color}} rounded-circle d-inline-block ms-3"></span>
                    </td>
                    <td>
                      <a routerLink="/gateways/{{cl.name}}">
                        <span class="badge">{{cl.uuid}}</span> {{cl.color}}
                      </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    </div>
</div>
<div class="row">
  <!-- column -->
  <div class="col-12">
    <app-traffic></app-traffic>
    <div class="card">
      <div class="card-body">
          <h4 class="card-title">Dragino</h4>
          <h5>{{ttnData.connected_at}}</h5>
          <h5>{{ttnData.protocol}}</h5>
         <h5>{{ttnData.last_uplink_received_at}}</h5>
          <h5>{{ttnData.last_downlink_received_at}}</h5>
          <h3>{{ttnData.downlink_count}}</h3>
          <h3>{{ttnData.uplink_count}}</h3>
  </div>
</div>
