<div class="row">
    <div class="col " *ngFor='let topcard of topcards'>
        <div class="card">
            <div class="card-body">
                <div class="d-flex align-items-center">
                    <button routerLink={{topcard.path}} class="btn btn-lg rounded-circle round round-lg fs-3 d-flex align-items-center justify-content-center bg-light-{{topcard.bgcolor}} text-{{topcard.bgcolor}}">
                        <i class={{topcard.icon}}></i>
                    </button>
                    <div class="ms-3">
                        <h3 class="mb-0 font-weight-bold">{{topcard.title}}</h3>
                        <small class="card-subtitle fs-3">{{topcard.subtitle}}</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
