.max-width {
  max-width: 1440px;
  margin: 0 auto;
}

@media (min-width: 992px ) {
  img {
    width: 200px;
    height: auto;
  }
}
@media (max-width: 991px ) {
img {
  width: 150px;
  height: auto;
}
}

body {
  background-color: blue;
}
