// Loading

/*******************
Preloader
********************/
.preloader{
  position: absolute;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.096);
}
.spinner {
  width: 80px;
  height: 80px;
  top: 50%;
  position: relative;
  margin: 100px auto;
}

.coffe {
  width: 100px;
  height: 150px;
  background-image: "../../../images/spinner/coffecup.gif";
  opacity: 1;
  position: absolute;
  top: 0;
  left: 0;
  //-webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  //animation: sk-bounce 2.0s infinite ease-in-out;
}

