<h2 i18n> Relaciones y estadísticas </h2>
<!-- button for call api in auth.service -->
<div class="row">
  <div class="col ">
      <div class="card">
          <div class="card-body">
              <div class="d-flex align-items-center">
                  <button routerLink="/gateways" class="btn btn-lg rounded-circle round round-lg fs-3 d-flex align-items-center justify-content-center bg-light-success text-success">
                      <i class="bi bi-router"></i>
                  </button>
                  <div class="ms-3">
                      <h3 class="mb-0 font-weight-bold" i18n>{{totalRowCount}}</h3>
                      <small class="card-subtitle fs-3" i18n>Total Registries</small>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <div class="col ">
    <div class="card">
        <div class="card-body">
            <div class="d-flex align-items-center">
                <button routerLink="/nodes" class="btn btn-lg rounded-circle round round-lg fs-3 d-flex align-items-center justify-content-center bg-light-danger text-danger">
                    <i class="bi bi-diagram-2"></i>
                </button>
                <div class="ms-3">
                    <h3 class="mb-0 font-weight-bold" i18n>{{draginoCount}}</h3>
                    <small class="card-subtitle fs-3" i18n>Dragino Pac</small>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col ">
  <div class="card">
      <div class="card-body">
          <div class="d-flex align-items-center">
              <button routerLink="/monitoreos" class="btn btn-lg rounded-circle round round-lg fs-3 d-flex align-items-center justify-content-center bg-light-warning text-warning">
                  <i class="bi bi-sunglasses"></i>
              </button>
              <div class="ms-3">
                  <h3 class="mb-0 font-weight-bold">{{mikrotikCount}}</h3>
                  <small class="card-subtitle fs-3">Mikrotik</small>
              </div>
          </div>
      </div>
  </div>
</div>
</div>
<div class="card">
  <div class="card-body">
      <h4 class="card-title">Datos de Dragino-Pac</h4>
      <h5 class="card-subtitle text-muted">Cantidad de datos por Spreading factor y potencias...</h5>
      <div class="table-responsive">
        <table class="table align-middle text-nowrap">
            <thead>
                <tr>
                    <th class="text-dark font-medium fs-4">SF/mV</th>
                    <th class="text-dark font-medium fs-4">1</th>
                    <th class="text-dark font-medium fs-4">7</th>
                    <th class="text-dark font-medium fs-4">14</th>
                    <th class="text-dark font-medium fs-4">Total</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                  <td>
                    <h5 class="mb-0 fw-normal">SF7</h5>
                  </td>
                  <td>
                    <h5 class="mb-0 fw-normal">{{Sf7Pw1Count}}</h5>
                  </td>
                  <td>
                    <h5 class="mb-0 fw-normal">{{Sf7Pw7Count}}</h5>
                  </td>
                  <td>
                    <h5 class="mb-0 fw-normal">{{Sf7Pw14Count}}</h5>
                  </td>
                  <td>
                    <h5 class="mb-0 fw-normal">{{Sf7TotalCount}}</h5>
                  </td>
                </tr>
                <tr>
                  <td>
                    <h5 class="mb-0 fw-normal">SF9</h5>
                  </td>
                  <td>
                    <h5 class="mb-0 fw-normal">{{Sf9Pw1Count}}</h5>
                  </td>
                  <td>
                    <h5 class="mb-0 fw-normal">{{Sf9Pw7Count}}</h5>
                  </td>
                  <td>
                    <h5 class="mb-0 fw-normal">{{Sf9Pw14Count}}</h5>
                  </td>
                  <td>
                    <h5 class="mb-0 fw-normal">{{Sf9TotalCount}}</h5>
                  </td>
                </tr>
                <tr>
                  <td>
                    <h5 class="mb-0 fw-normal">Total</h5>
                  </td>
                  <td>
                    <h5 class="mb-0 fw-normal">{{Pw1TotalCount}}</h5>
                  </td>
                  <td>
                    <h5 class="mb-0 fw-normal">{{Pw7TotalCount}}</h5>
                  </td>
                  <td>
                    <h5 class="mb-0 fw-normal">{{Pw14TotalCount}}</h5>
                  </td>
                  <td>
                    <h5 class="mb-0 fw-normal">{{draginoCount}}</h5>
                  </td>
                </tr>
            </tbody>
        </table>
    </div>
  </div>
</div>
<div class="row">
