<div class="login">
  <div class="col-lg-4">
  </div>
  <div class="col-lg-4 padding">
    <div class="card">
      <div class="card-body">
          <img src="../../assets/images/logos/TrackerLoraTextLight.png" alt="Logo" class="img-fluid padding">
          <h4 class="card-title">Sign In</h4>
          <h5 class="card-subtitle text-muted">Hola Hola </h5>
          <h6> Introduce tu email y tu contraseña.</h6>
          <form [formGroup]="signin">
            <mat-form-field appearance="outline" class="email-input">
              <mat-label i18n>Email</mat-label>
              <input matInput [(ngModel)]="email">
            </mat-form-field>
            <mat-form-field appearance="outline" class="password-input">
              <mat-label i18n>Password</mat-label>
              <input matInput [(ngModel)]="password" type="password">
            </mat-form-field>
            </form>
      </div>
    </div>
  </div>
  <div class="col-lg-4">
  </div>
</div>
